html {
    height: 100%;
}
body {
     background-color: #d5dfe6; 
    
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-image: none ;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    
    
    
}

nav {
    background-color: #016df0;
}

.nav-center {
    justify-content:center !important;
}
.login {
    font-weight:500; 
}

.site-font-color {
    color: #000000;
}

.shadow {
    box-shadow: -2px 11px 89px 17px rgba(0,0,0,0.75);
}

.shadow2 {
    box-shadow: 4px -1px 78px 28px rgba(0,0,0,0.58);
}

.footer {
    background-color:  #016df0 ;
    color: #8caace;
}
.bg-brown {
    background-color:  #016df0 ;
}

.btn-primary, .btn-outline-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited .acco{
    background-color:  016df0 !important;
    border-width: 1px;
    border-color: rgb(62, 62, 62);
    color: rgb(0, 0, 0);
    
}

.btn-versuch {
    color: black !important;
}

.card-bg {
    background-color: #91a9c181;
    
}

.standard-img {
    width: fit-content;
}


#shopName {
    color: #ffffff;
    
    font-size: 22px;
}







