html {
  height: 100%;
}
body {
  background-color: #e9f2fc;

  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-image: none;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}

.primary-bg-color {
  background-color: #e9f2fc;
}
.secondary-bg-color {
  background-color: #0d3359;
}
.tertiary-bg-color {
  background-color: #2080df;
}
.accent-bg-color {
  background-color: #5020df;
}
.test-bg {
  background-color: #0d3359a7;
}

.primary-color {
  color: #0d3359;
}
.secondary-color {
  color: #e2e7ee;
}
.teritiary-color {
  color: #2080df;
}
.accent-color {
  color: #5020df;
}
.text-color {
  color: hsl(210, 75%, 10%);
}

nav {
  background-color: #0d3359;
}

#nav-primary {
  background-color: #0d3359;
  padding-top: 0.2rem;
  padding-bottom: 0.1rem;
  font-size: 1rem;
}

#nav-secondary {
  background-color: #0d3359a7 !important;
  padding-top: 0.01rem;
  padding-bottom: 0.01rem;
  font-size: 0.75rem;
}

.nav-center {
  justify-content: center !important;
}
.login {
  font-weight: 500;
}

.site-font-color {
  color: #000000;
}

.shadow {
  box-shadow: -2px 11px 89px 17px rgba(0, 0, 0, 0.75);
}

.shadow2 {
  box-shadow: 4px -1px 78px 28px rgba(0, 0, 0, 0.58);
}

.btn-primary,
.btn-outline-primary,
.btn-primary:hover,
.btn-primary:active,
.btn-primary:visited .acco {
  background-color: 016df0 !important;
  border-width: 1px;
  border-color: rgb(62, 62, 62);
  color: rgb(0, 0, 0);
}

.btn-versuch {
  color: black !important;
}

.card-bg {
  background-color: #91a9c181;
}

.standard-img {
  width: fit-content;
}

#shopName {
  color: #ffffff;

  font-size: 22px;
}

/* Progress Bar */
.progress-bar {
  transition: width 2s;
}

.progress-bar.animated {
  animation: progress-bar-stripes 2s linear infinite;
}
